.users-main form input{
    font-size: 16px;
    border: 2px solid #fff;
    padding: 10px;
    width: 165px;
    outline: 0;
}

.users-main form button{
    padding: 10px;
    font-size:16px ;
    margin: 10px;
    background-color: #0066ff;
    border: 2px solid #0066ff;
    color:#fff;
    outline: 0;
}

.users-main form button:hover{
    background-color: #003399;
    cursor: pointer;
    border: 2px solid #003399;
    
}